:root{
  background-image: url('../assets/scrotebg.png');
  background-size: cover;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  .stats-container {
    margin-bottom: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  .stats-container h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  .stats {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
  }
  .stat-box {
    flex: 1;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  .stat-box:hover {
    transform: scale(1.02);
  }
  .stat-box h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  .stat-box p {
    margin: 5px 0 0;
    font-size: 18px;
    color: #666;
  }
  .stat-box .icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #007bff;
  }
  .small-stats {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
  }
  .small-stat-box {
    flex: 1;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
  }
  .small-stat-box h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  .small-stat-box p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #666;
  }
  .logout-btn {
    display: block;
    width: 100px;
    margin-left: 20px;
    padding: 4px;
    text-align: center;
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }
  .logout-btn:hover {
    background: #c82333;
  }
  .submission-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  .submission-box {
    flex: 1 1 calc(33.333% - 20px);
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .submission-box.seen {
    border-color: #28a745;
  }
  .submission-box.new {
    border-color: #007bff;
  }